/* General Layout */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background: #f4f6fa;
    color: #333;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}

/* Navigation Buttons */

.nav {
    text-align: center;   /* centers the two buttons */
    margin-top: 20px;
}

.nav a {
    display: inline-block;    /* makes them behave like buttons */
    margin: 0 10px;
    padding: 12px 20px;
    background: #0066ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.nav a:hover {
    background: #004bcc;
}

/* TABLE (used on home + calendar) */


table {
    width: 80%;
    margin: 40px auto;       /* centers table */
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #0066ff;
    color: white;
}


/* DELETE Button */


a.delete {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

a.delete:hover {
    text-decoration: underline;
}



a {
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #0066ff;
}

a:hover {
    text-decoration: underline;
}
